.qipki-Root {
    background-color: #dedeee;
}
.qipki-Ribbon {
    border-bottom: 1px solid #000;
}
.qipki-Splitted {
    border-top: 1px solid #559;
    background-color: #eeeefe;
}
.qipki-Main {
    background-color: #fefeff;
}
.qipki-WestSidebar {
    border-right: 1px solid #559;
}
.qipki-EastSidebar {
    border-left: 1px solid #559;
}
.qipki-NorthSidebar {
    border-bottom: 1px solid #559;
}
.qipki-SouthSidebar {
    border-top: 1px solid #559;
}
.qipki-Footer {
    border-top: 1px solid #559;
}
