<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[QIPKI] @%-20thread %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
  </root>

  <logger name="org.qipki" level="trace"/>
  <logger name="org.qi4j.library.uowfile" level="trace"/>
  <logger name="org.qi4j.library.shiro" level="trace"/>
  <logger name="org.apache.shiro" level="trace"/>
  <logger name="org.apache.shiro.util.ThreadContext" level="info"/>

</configuration>